h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  color: #3a3a3a;
}
h3 {
  font-size: 19px;
  font-weight: 600;
}
p, ol, ul {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4d4d;
}
ul {
  list-style-type: square;
}
li >ol {
  list-style-type: lower-alpha;
}
article p, article h3, article ol, article ul, table {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
article.post p, article.post ol {
  -webkit-font-smoothing: antialiased;
}
table {
  border-collapse: collapse;
  border: 2px solid #4d4d4d;
}
table thead {
  text-align: center;
  background-color: #ccc;
  font-weight: bolder;
}
table td {
  padding: 5px 10px;
  border-bottom: 1px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
}